/*
 * Spotify Web API with fixes and improvements from sonallux
 * You can use Spotify's Web API to discover music and podcasts, manage your Spotify library, control audio playback, and much more. Browse our available Web API endpoints using the sidebar at left, or via the navigation bar on top of this page on smaller screens.  In order to make successful Web API requests your app will need a valid access token. One can be obtained through <a href=\"https://developer.spotify.com/documentation/general/guides/authorization-guide/\">OAuth 2.0</a>.  The base URI for all Web API requests is `https://api.spotify.com/v1`.  Need help? See our <a href=\"https://developer.spotify.com/documentation/web-api/guides/\">Web API guides</a> for more information, or visit the <a href=\"https://community.spotify.com/t5/Spotify-for-Developers/bd-p/Spotify_Developer\">Spotify for Developers community forum</a> to ask questions and connect with other developers. 
 *
 * The version of the OpenAPI document: 2023.2.27
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */


package org.openapitools.client.api;

import org.openapitools.client.ApiCallback;
import org.openapitools.client.ApiClient;
import org.openapitools.client.ApiException;
import org.openapitools.client.ApiResponse;
import org.openapitools.client.Configuration;
import org.openapitools.client.Pair;
import org.openapitools.client.ProgressRequestBody;
import org.openapitools.client.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import org.openapitools.client.model.AudioAnalysisObject;
import org.openapitools.client.model.AudioFeaturesObject;
import java.math.BigDecimal;
import org.openapitools.client.model.InlineObject2;
import org.openapitools.client.model.InlineResponse20011;
import org.openapitools.client.model.InlineResponse2002;
import org.openapitools.client.model.InlineResponse2003;
import org.openapitools.client.model.InlineResponse401;
import org.openapitools.client.model.PagingPlaylistTrackObject;
import org.openapitools.client.model.PagingSavedTrackObject;
import org.openapitools.client.model.PagingSimplifiedTrackObject;
import org.openapitools.client.model.PagingTrackObject;
import org.openapitools.client.model.RecommendationsObject;
import org.openapitools.client.model.TrackObject;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class TracksApi {
    private ApiClient localVarApiClient;

    public TracksApi() {
        this(Configuration.getDefaultApiClient());
    }

    public TracksApi(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return localVarApiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    /**
     * Build call for addTracksToPlaylist
     * @param playlistId  (required)
     * @param position  (optional)
     * @param uris  (optional)
     * @param requestBody  (optional)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 201 </td><td> A snapshot ID for the playlist </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> Bad or expired token. This can happen if the user revoked a token or the access token has expired. You should re-authenticate the user.  </td><td>  -  </td></tr>
        <tr><td> 403 </td><td> Bad OAuth request (wrong consumer key, bad nonce, expired timestamp...). Unfortunately, re-authenticating the user won&#39;t help here.  </td><td>  -  </td></tr>
        <tr><td> 429 </td><td> The app has exceeded its rate limits.  </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call addTracksToPlaylistCall(String playlistId, Integer position, String uris, Map<String, Object> requestBody, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = requestBody;

        // create path and map variables
        String localVarPath = "/playlists/{playlist_id}/tracks"
            .replaceAll("\\{" + "playlist_id" + "\\}", localVarApiClient.escapeString(playlistId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        if (position != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("position", position));
        }

        if (uris != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("uris", uris));
        }

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "oauth_2_0" };
        return localVarApiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call addTracksToPlaylistValidateBeforeCall(String playlistId, Integer position, String uris, Map<String, Object> requestBody, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'playlistId' is set
        if (playlistId == null) {
            throw new ApiException("Missing the required parameter 'playlistId' when calling addTracksToPlaylist(Async)");
        }
        

        okhttp3.Call localVarCall = addTracksToPlaylistCall(playlistId, position, uris, requestBody, _callback);
        return localVarCall;

    }

    /**
     * Add Items to Playlist 
     * Add one or more items to a user&#39;s playlist. 
     * @param playlistId  (required)
     * @param position  (optional)
     * @param uris  (optional)
     * @param requestBody  (optional)
     * @return InlineResponse20011
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 201 </td><td> A snapshot ID for the playlist </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> Bad or expired token. This can happen if the user revoked a token or the access token has expired. You should re-authenticate the user.  </td><td>  -  </td></tr>
        <tr><td> 403 </td><td> Bad OAuth request (wrong consumer key, bad nonce, expired timestamp...). Unfortunately, re-authenticating the user won&#39;t help here.  </td><td>  -  </td></tr>
        <tr><td> 429 </td><td> The app has exceeded its rate limits.  </td><td>  -  </td></tr>
     </table>
     */
    public InlineResponse20011 addTracksToPlaylist(String playlistId, Integer position, String uris, Map<String, Object> requestBody) throws ApiException {
        ApiResponse<InlineResponse20011> localVarResp = addTracksToPlaylistWithHttpInfo(playlistId, position, uris, requestBody);
        return localVarResp.getData();
    }

    /**
     * Add Items to Playlist 
     * Add one or more items to a user&#39;s playlist. 
     * @param playlistId  (required)
     * @param position  (optional)
     * @param uris  (optional)
     * @param requestBody  (optional)
     * @return ApiResponse&lt;InlineResponse20011&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 201 </td><td> A snapshot ID for the playlist </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> Bad or expired token. This can happen if the user revoked a token or the access token has expired. You should re-authenticate the user.  </td><td>  -  </td></tr>
        <tr><td> 403 </td><td> Bad OAuth request (wrong consumer key, bad nonce, expired timestamp...). Unfortunately, re-authenticating the user won&#39;t help here.  </td><td>  -  </td></tr>
        <tr><td> 429 </td><td> The app has exceeded its rate limits.  </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<InlineResponse20011> addTracksToPlaylistWithHttpInfo(String playlistId, Integer position, String uris, Map<String, Object> requestBody) throws ApiException {
        okhttp3.Call localVarCall = addTracksToPlaylistValidateBeforeCall(playlistId, position, uris, requestBody, null);
        Type localVarReturnType = new TypeToken<InlineResponse20011>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Add Items to Playlist  (asynchronously)
     * Add one or more items to a user&#39;s playlist. 
     * @param playlistId  (required)
     * @param position  (optional)
     * @param uris  (optional)
     * @param requestBody  (optional)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 201 </td><td> A snapshot ID for the playlist </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> Bad or expired token. This can happen if the user revoked a token or the access token has expired. You should re-authenticate the user.  </td><td>  -  </td></tr>
        <tr><td> 403 </td><td> Bad OAuth request (wrong consumer key, bad nonce, expired timestamp...). Unfortunately, re-authenticating the user won&#39;t help here.  </td><td>  -  </td></tr>
        <tr><td> 429 </td><td> The app has exceeded its rate limits.  </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call addTracksToPlaylistAsync(String playlistId, Integer position, String uris, Map<String, Object> requestBody, final ApiCallback<InlineResponse20011> _callback) throws ApiException {

        okhttp3.Call localVarCall = addTracksToPlaylistValidateBeforeCall(playlistId, position, uris, requestBody, _callback);
        Type localVarReturnType = new TypeToken<InlineResponse20011>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
    /**
     * Build call for checkUsersSavedTracks
     * @param ids  (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Array of booleans </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> Bad or expired token. This can happen if the user revoked a token or the access token has expired. You should re-authenticate the user.  </td><td>  -  </td></tr>
        <tr><td> 403 </td><td> Bad OAuth request (wrong consumer key, bad nonce, expired timestamp...). Unfortunately, re-authenticating the user won&#39;t help here.  </td><td>  -  </td></tr>
        <tr><td> 429 </td><td> The app has exceeded its rate limits.  </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call checkUsersSavedTracksCall(String ids, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/me/tracks/contains";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        if (ids != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("ids", ids));
        }

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "oauth_2_0" };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call checkUsersSavedTracksValidateBeforeCall(String ids, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'ids' is set
        if (ids == null) {
            throw new ApiException("Missing the required parameter 'ids' when calling checkUsersSavedTracks(Async)");
        }
        

        okhttp3.Call localVarCall = checkUsersSavedTracksCall(ids, _callback);
        return localVarCall;

    }

    /**
     * Check User&#39;s Saved Tracks 
     * Check if one or more tracks is already saved in the current Spotify user&#39;s &#39;Your Music&#39; library. 
     * @param ids  (required)
     * @return List&lt;Boolean&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Array of booleans </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> Bad or expired token. This can happen if the user revoked a token or the access token has expired. You should re-authenticate the user.  </td><td>  -  </td></tr>
        <tr><td> 403 </td><td> Bad OAuth request (wrong consumer key, bad nonce, expired timestamp...). Unfortunately, re-authenticating the user won&#39;t help here.  </td><td>  -  </td></tr>
        <tr><td> 429 </td><td> The app has exceeded its rate limits.  </td><td>  -  </td></tr>
     </table>
     */
    public List<Boolean> checkUsersSavedTracks(String ids) throws ApiException {
        ApiResponse<List<Boolean>> localVarResp = checkUsersSavedTracksWithHttpInfo(ids);
        return localVarResp.getData();
    }

    /**
     * Check User&#39;s Saved Tracks 
     * Check if one or more tracks is already saved in the current Spotify user&#39;s &#39;Your Music&#39; library. 
     * @param ids  (required)
     * @return ApiResponse&lt;List&lt;Boolean&gt;&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Array of booleans </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> Bad or expired token. This can happen if the user revoked a token or the access token has expired. You should re-authenticate the user.  </td><td>  -  </td></tr>
        <tr><td> 403 </td><td> Bad OAuth request (wrong consumer key, bad nonce, expired timestamp...). Unfortunately, re-authenticating the user won&#39;t help here.  </td><td>  -  </td></tr>
        <tr><td> 429 </td><td> The app has exceeded its rate limits.  </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<List<Boolean>> checkUsersSavedTracksWithHttpInfo(String ids) throws ApiException {
        okhttp3.Call localVarCall = checkUsersSavedTracksValidateBeforeCall(ids, null);
        Type localVarReturnType = new TypeToken<List<Boolean>>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Check User&#39;s Saved Tracks  (asynchronously)
     * Check if one or more tracks is already saved in the current Spotify user&#39;s &#39;Your Music&#39; library. 
     * @param ids  (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Array of booleans </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> Bad or expired token. This can happen if the user revoked a token or the access token has expired. You should re-authenticate the user.  </td><td>  -  </td></tr>
        <tr><td> 403 </td><td> Bad OAuth request (wrong consumer key, bad nonce, expired timestamp...). Unfortunately, re-authenticating the user won&#39;t help here.  </td><td>  -  </td></tr>
        <tr><td> 429 </td><td> The app has exceeded its rate limits.  </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call checkUsersSavedTracksAsync(String ids, final ApiCallback<List<Boolean>> _callback) throws ApiException {

        okhttp3.Call localVarCall = checkUsersSavedTracksValidateBeforeCall(ids, _callback);
        Type localVarReturnType = new TypeToken<List<Boolean>>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
    /**
     * Build call for getAnAlbumsTracks
     * @param id  (required)
     * @param market  (optional)
     * @param limit  (optional, default to 20)
     * @param offset  (optional, default to 0)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Pages of tracks </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> Bad or expired token. This can happen if the user revoked a token or the access token has expired. You should re-authenticate the user.  </td><td>  -  </td></tr>
        <tr><td> 403 </td><td> Bad OAuth request (wrong consumer key, bad nonce, expired timestamp...). Unfortunately, re-authenticating the user won&#39;t help here.  </td><td>  -  </td></tr>
        <tr><td> 429 </td><td> The app has exceeded its rate limits.  </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call getAnAlbumsTracksCall(String id, String market, Integer limit, Integer offset, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/albums/{id}/tracks"
            .replaceAll("\\{" + "id" + "\\}", localVarApiClient.escapeString(id.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        if (market != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("market", market));
        }

        if (limit != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("limit", limit));
        }

        if (offset != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("offset", offset));
        }

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "oauth_2_0" };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call getAnAlbumsTracksValidateBeforeCall(String id, String market, Integer limit, Integer offset, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'id' is set
        if (id == null) {
            throw new ApiException("Missing the required parameter 'id' when calling getAnAlbumsTracks(Async)");
        }
        

        okhttp3.Call localVarCall = getAnAlbumsTracksCall(id, market, limit, offset, _callback);
        return localVarCall;

    }

    /**
     * Get Album Tracks 
     * Get Spotify catalog information about an album’s tracks. Optional parameters can be used to limit the number of tracks returned. 
     * @param id  (required)
     * @param market  (optional)
     * @param limit  (optional, default to 20)
     * @param offset  (optional, default to 0)
     * @return PagingSimplifiedTrackObject
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Pages of tracks </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> Bad or expired token. This can happen if the user revoked a token or the access token has expired. You should re-authenticate the user.  </td><td>  -  </td></tr>
        <tr><td> 403 </td><td> Bad OAuth request (wrong consumer key, bad nonce, expired timestamp...). Unfortunately, re-authenticating the user won&#39;t help here.  </td><td>  -  </td></tr>
        <tr><td> 429 </td><td> The app has exceeded its rate limits.  </td><td>  -  </td></tr>
     </table>
     */
    public PagingSimplifiedTrackObject getAnAlbumsTracks(String id, String market, Integer limit, Integer offset) throws ApiException {
        ApiResponse<PagingSimplifiedTrackObject> localVarResp = getAnAlbumsTracksWithHttpInfo(id, market, limit, offset);
        return localVarResp.getData();
    }

    /**
     * Get Album Tracks 
     * Get Spotify catalog information about an album’s tracks. Optional parameters can be used to limit the number of tracks returned. 
     * @param id  (required)
     * @param market  (optional)
     * @param limit  (optional, default to 20)
     * @param offset  (optional, default to 0)
     * @return ApiResponse&lt;PagingSimplifiedTrackObject&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Pages of tracks </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> Bad or expired token. This can happen if the user revoked a token or the access token has expired. You should re-authenticate the user.  </td><td>  -  </td></tr>
        <tr><td> 403 </td><td> Bad OAuth request (wrong consumer key, bad nonce, expired timestamp...). Unfortunately, re-authenticating the user won&#39;t help here.  </td><td>  -  </td></tr>
        <tr><td> 429 </td><td> The app has exceeded its rate limits.  </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<PagingSimplifiedTrackObject> getAnAlbumsTracksWithHttpInfo(String id, String market, Integer limit, Integer offset) throws ApiException {
        okhttp3.Call localVarCall = getAnAlbumsTracksValidateBeforeCall(id, market, limit, offset, null);
        Type localVarReturnType = new TypeToken<PagingSimplifiedTrackObject>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Get Album Tracks  (asynchronously)
     * Get Spotify catalog information about an album’s tracks. Optional parameters can be used to limit the number of tracks returned. 
     * @param id  (required)
     * @param market  (optional)
     * @param limit  (optional, default to 20)
     * @param offset  (optional, default to 0)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Pages of tracks </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> Bad or expired token. This can happen if the user revoked a token or the access token has expired. You should re-authenticate the user.  </td><td>  -  </td></tr>
        <tr><td> 403 </td><td> Bad OAuth request (wrong consumer key, bad nonce, expired timestamp...). Unfortunately, re-authenticating the user won&#39;t help here.  </td><td>  -  </td></tr>
        <tr><td> 429 </td><td> The app has exceeded its rate limits.  </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call getAnAlbumsTracksAsync(String id, String market, Integer limit, Integer offset, final ApiCallback<PagingSimplifiedTrackObject> _callback) throws ApiException {

        okhttp3.Call localVarCall = getAnAlbumsTracksValidateBeforeCall(id, market, limit, offset, _callback);
        Type localVarReturnType = new TypeToken<PagingSimplifiedTrackObject>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
    /**
     * Build call for getAnArtistsTopTracks
     * @param id  (required)
     * @param market  (optional)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> A set of tracks </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> Bad or expired token. This can happen if the user revoked a token or the access token has expired. You should re-authenticate the user.  </td><td>  -  </td></tr>
        <tr><td> 403 </td><td> Bad OAuth request (wrong consumer key, bad nonce, expired timestamp...). Unfortunately, re-authenticating the user won&#39;t help here.  </td><td>  -  </td></tr>
        <tr><td> 429 </td><td> The app has exceeded its rate limits.  </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call getAnArtistsTopTracksCall(String id, String market, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/artists/{id}/top-tracks"
            .replaceAll("\\{" + "id" + "\\}", localVarApiClient.escapeString(id.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        if (market != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("market", market));
        }

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "oauth_2_0" };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call getAnArtistsTopTracksValidateBeforeCall(String id, String market, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'id' is set
        if (id == null) {
            throw new ApiException("Missing the required parameter 'id' when calling getAnArtistsTopTracks(Async)");
        }
        

        okhttp3.Call localVarCall = getAnArtistsTopTracksCall(id, market, _callback);
        return localVarCall;

    }

    /**
     * Get Artist&#39;s Top Tracks 
     * Get Spotify catalog information about an artist&#39;s top tracks by country. 
     * @param id  (required)
     * @param market  (optional)
     * @return InlineResponse2002
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> A set of tracks </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> Bad or expired token. This can happen if the user revoked a token or the access token has expired. You should re-authenticate the user.  </td><td>  -  </td></tr>
        <tr><td> 403 </td><td> Bad OAuth request (wrong consumer key, bad nonce, expired timestamp...). Unfortunately, re-authenticating the user won&#39;t help here.  </td><td>  -  </td></tr>
        <tr><td> 429 </td><td> The app has exceeded its rate limits.  </td><td>  -  </td></tr>
     </table>
     */
    public InlineResponse2002 getAnArtistsTopTracks(String id, String market) throws ApiException {
        ApiResponse<InlineResponse2002> localVarResp = getAnArtistsTopTracksWithHttpInfo(id, market);
        return localVarResp.getData();
    }

    /**
     * Get Artist&#39;s Top Tracks 
     * Get Spotify catalog information about an artist&#39;s top tracks by country. 
     * @param id  (required)
     * @param market  (optional)
     * @return ApiResponse&lt;InlineResponse2002&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> A set of tracks </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> Bad or expired token. This can happen if the user revoked a token or the access token has expired. You should re-authenticate the user.  </td><td>  -  </td></tr>
        <tr><td> 403 </td><td> Bad OAuth request (wrong consumer key, bad nonce, expired timestamp...). Unfortunately, re-authenticating the user won&#39;t help here.  </td><td>  -  </td></tr>
        <tr><td> 429 </td><td> The app has exceeded its rate limits.  </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<InlineResponse2002> getAnArtistsTopTracksWithHttpInfo(String id, String market) throws ApiException {
        okhttp3.Call localVarCall = getAnArtistsTopTracksValidateBeforeCall(id, market, null);
        Type localVarReturnType = new TypeToken<InlineResponse2002>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Get Artist&#39;s Top Tracks  (asynchronously)
     * Get Spotify catalog information about an artist&#39;s top tracks by country. 
     * @param id  (required)
     * @param market  (optional)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> A set of tracks </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> Bad or expired token. This can happen if the user revoked a token or the access token has expired. You should re-authenticate the user.  </td><td>  -  </td></tr>
        <tr><td> 403 </td><td> Bad OAuth request (wrong consumer key, bad nonce, expired timestamp...). Unfortunately, re-authenticating the user won&#39;t help here.  </td><td>  -  </td></tr>
        <tr><td> 429 </td><td> The app has exceeded its rate limits.  </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call getAnArtistsTopTracksAsync(String id, String market, final ApiCallback<InlineResponse2002> _callback) throws ApiException {

        okhttp3.Call localVarCall = getAnArtistsTopTracksValidateBeforeCall(id, market, _callback);
        Type localVarReturnType = new TypeToken<InlineResponse2002>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
    /**
     * Build call for getAudioAnalysis
     * @param id  (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Audio analysis for one track </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> Bad or expired token. This can happen if the user revoked a token or the access token has expired. You should re-authenticate the user.  </td><td>  -  </td></tr>
        <tr><td> 403 </td><td> Bad OAuth request (wrong consumer key, bad nonce, expired timestamp...). Unfortunately, re-authenticating the user won&#39;t help here.  </td><td>  -  </td></tr>
        <tr><td> 429 </td><td> The app has exceeded its rate limits.  </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call getAudioAnalysisCall(String id, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/audio-analysis/{id}"
            .replaceAll("\\{" + "id" + "\\}", localVarApiClient.escapeString(id.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "oauth_2_0" };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call getAudioAnalysisValidateBeforeCall(String id, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'id' is set
        if (id == null) {
            throw new ApiException("Missing the required parameter 'id' when calling getAudioAnalysis(Async)");
        }
        

        okhttp3.Call localVarCall = getAudioAnalysisCall(id, _callback);
        return localVarCall;

    }

    /**
     * Get Track&#39;s Audio Analysis 
     * Get a low-level audio analysis for a track in the Spotify catalog. The audio analysis describes the track’s structure and musical content, including rhythm, pitch, and timbre. 
     * @param id  (required)
     * @return AudioAnalysisObject
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Audio analysis for one track </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> Bad or expired token. This can happen if the user revoked a token or the access token has expired. You should re-authenticate the user.  </td><td>  -  </td></tr>
        <tr><td> 403 </td><td> Bad OAuth request (wrong consumer key, bad nonce, expired timestamp...). Unfortunately, re-authenticating the user won&#39;t help here.  </td><td>  -  </td></tr>
        <tr><td> 429 </td><td> The app has exceeded its rate limits.  </td><td>  -  </td></tr>
     </table>
     */
    public AudioAnalysisObject getAudioAnalysis(String id) throws ApiException {
        ApiResponse<AudioAnalysisObject> localVarResp = getAudioAnalysisWithHttpInfo(id);
        return localVarResp.getData();
    }

    /**
     * Get Track&#39;s Audio Analysis 
     * Get a low-level audio analysis for a track in the Spotify catalog. The audio analysis describes the track’s structure and musical content, including rhythm, pitch, and timbre. 
     * @param id  (required)
     * @return ApiResponse&lt;AudioAnalysisObject&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Audio analysis for one track </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> Bad or expired token. This can happen if the user revoked a token or the access token has expired. You should re-authenticate the user.  </td><td>  -  </td></tr>
        <tr><td> 403 </td><td> Bad OAuth request (wrong consumer key, bad nonce, expired timestamp...). Unfortunately, re-authenticating the user won&#39;t help here.  </td><td>  -  </td></tr>
        <tr><td> 429 </td><td> The app has exceeded its rate limits.  </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<AudioAnalysisObject> getAudioAnalysisWithHttpInfo(String id) throws ApiException {
        okhttp3.Call localVarCall = getAudioAnalysisValidateBeforeCall(id, null);
        Type localVarReturnType = new TypeToken<AudioAnalysisObject>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Get Track&#39;s Audio Analysis  (asynchronously)
     * Get a low-level audio analysis for a track in the Spotify catalog. The audio analysis describes the track’s structure and musical content, including rhythm, pitch, and timbre. 
     * @param id  (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Audio analysis for one track </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> Bad or expired token. This can happen if the user revoked a token or the access token has expired. You should re-authenticate the user.  </td><td>  -  </td></tr>
        <tr><td> 403 </td><td> Bad OAuth request (wrong consumer key, bad nonce, expired timestamp...). Unfortunately, re-authenticating the user won&#39;t help here.  </td><td>  -  </td></tr>
        <tr><td> 429 </td><td> The app has exceeded its rate limits.  </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call getAudioAnalysisAsync(String id, final ApiCallback<AudioAnalysisObject> _callback) throws ApiException {

        okhttp3.Call localVarCall = getAudioAnalysisValidateBeforeCall(id, _callback);
        Type localVarReturnType = new TypeToken<AudioAnalysisObject>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
    /**
     * Build call for getAudioFeatures
     * @param id  (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Audio features for one track </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> Bad or expired token. This can happen if the user revoked a token or the access token has expired. You should re-authenticate the user.  </td><td>  -  </td></tr>
        <tr><td> 403 </td><td> Bad OAuth request (wrong consumer key, bad nonce, expired timestamp...). Unfortunately, re-authenticating the user won&#39;t help here.  </td><td>  -  </td></tr>
        <tr><td> 429 </td><td> The app has exceeded its rate limits.  </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call getAudioFeaturesCall(String id, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/audio-features/{id}"
            .replaceAll("\\{" + "id" + "\\}", localVarApiClient.escapeString(id.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "oauth_2_0" };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call getAudioFeaturesValidateBeforeCall(String id, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'id' is set
        if (id == null) {
            throw new ApiException("Missing the required parameter 'id' when calling getAudioFeatures(Async)");
        }
        

        okhttp3.Call localVarCall = getAudioFeaturesCall(id, _callback);
        return localVarCall;

    }

    /**
     * Get Track&#39;s Audio Features 
     * Get audio feature information for a single track identified by its unique Spotify ID. 
     * @param id  (required)
     * @return AudioFeaturesObject
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Audio features for one track </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> Bad or expired token. This can happen if the user revoked a token or the access token has expired. You should re-authenticate the user.  </td><td>  -  </td></tr>
        <tr><td> 403 </td><td> Bad OAuth request (wrong consumer key, bad nonce, expired timestamp...). Unfortunately, re-authenticating the user won&#39;t help here.  </td><td>  -  </td></tr>
        <tr><td> 429 </td><td> The app has exceeded its rate limits.  </td><td>  -  </td></tr>
     </table>
     */
    public AudioFeaturesObject getAudioFeatures(String id) throws ApiException {
        ApiResponse<AudioFeaturesObject> localVarResp = getAudioFeaturesWithHttpInfo(id);
        return localVarResp.getData();
    }

    /**
     * Get Track&#39;s Audio Features 
     * Get audio feature information for a single track identified by its unique Spotify ID. 
     * @param id  (required)
     * @return ApiResponse&lt;AudioFeaturesObject&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Audio features for one track </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> Bad or expired token. This can happen if the user revoked a token or the access token has expired. You should re-authenticate the user.  </td><td>  -  </td></tr>
        <tr><td> 403 </td><td> Bad OAuth request (wrong consumer key, bad nonce, expired timestamp...). Unfortunately, re-authenticating the user won&#39;t help here.  </td><td>  -  </td></tr>
        <tr><td> 429 </td><td> The app has exceeded its rate limits.  </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<AudioFeaturesObject> getAudioFeaturesWithHttpInfo(String id) throws ApiException {
        okhttp3.Call localVarCall = getAudioFeaturesValidateBeforeCall(id, null);
        Type localVarReturnType = new TypeToken<AudioFeaturesObject>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Get Track&#39;s Audio Features  (asynchronously)
     * Get audio feature information for a single track identified by its unique Spotify ID. 
     * @param id  (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Audio features for one track </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> Bad or expired token. This can happen if the user revoked a token or the access token has expired. You should re-authenticate the user.  </td><td>  -  </td></tr>
        <tr><td> 403 </td><td> Bad OAuth request (wrong consumer key, bad nonce, expired timestamp...). Unfortunately, re-authenticating the user won&#39;t help here.  </td><td>  -  </td></tr>
        <tr><td> 429 </td><td> The app has exceeded its rate limits.  </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call getAudioFeaturesAsync(String id, final ApiCallback<AudioFeaturesObject> _callback) throws ApiException {

        okhttp3.Call localVarCall = getAudioFeaturesValidateBeforeCall(id, _callback);
        Type localVarReturnType = new TypeToken<AudioFeaturesObject>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
    /**
     * Build call for getPlaylistsTracks
     * @param playlistId  (required)
     * @param market  (optional)
     * @param fields  (optional)
     * @param limit  (optional, default to 20)
     * @param offset  (optional, default to 0)
     * @param additionalTypes  (optional)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Pages of tracks </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> Bad or expired token. This can happen if the user revoked a token or the access token has expired. You should re-authenticate the user.  </td><td>  -  </td></tr>
        <tr><td> 403 </td><td> Bad OAuth request (wrong consumer key, bad nonce, expired timestamp...). Unfortunately, re-authenticating the user won&#39;t help here.  </td><td>  -  </td></tr>
        <tr><td> 429 </td><td> The app has exceeded its rate limits.  </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call getPlaylistsTracksCall(String playlistId, String market, String fields, Integer limit, Integer offset, String additionalTypes, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/playlists/{playlist_id}/tracks"
            .replaceAll("\\{" + "playlist_id" + "\\}", localVarApiClient.escapeString(playlistId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        if (market != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("market", market));
        }

        if (fields != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("fields", fields));
        }

        if (limit != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("limit", limit));
        }

        if (offset != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("offset", offset));
        }

        if (additionalTypes != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("additional_types", additionalTypes));
        }

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "oauth_2_0" };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call getPlaylistsTracksValidateBeforeCall(String playlistId, String market, String fields, Integer limit, Integer offset, String additionalTypes, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'playlistId' is set
        if (playlistId == null) {
            throw new ApiException("Missing the required parameter 'playlistId' when calling getPlaylistsTracks(Async)");
        }
        

        okhttp3.Call localVarCall = getPlaylistsTracksCall(playlistId, market, fields, limit, offset, additionalTypes, _callback);
        return localVarCall;

    }

    /**
     * Get Playlist Items 
     * Get full details of the items of a playlist owned by a Spotify user. 
     * @param playlistId  (required)
     * @param market  (optional)
     * @param fields  (optional)
     * @param limit  (optional, default to 20)
     * @param offset  (optional, default to 0)
     * @param additionalTypes  (optional)
     * @return PagingPlaylistTrackObject
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Pages of tracks </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> Bad or expired token. This can happen if the user revoked a token or the access token has expired. You should re-authenticate the user.  </td><td>  -  </td></tr>
        <tr><td> 403 </td><td> Bad OAuth request (wrong consumer key, bad nonce, expired timestamp...). Unfortunately, re-authenticating the user won&#39;t help here.  </td><td>  -  </td></tr>
        <tr><td> 429 </td><td> The app has exceeded its rate limits.  </td><td>  -  </td></tr>
     </table>
     */
    public PagingPlaylistTrackObject getPlaylistsTracks(String playlistId, String market, String fields, Integer limit, Integer offset, String additionalTypes) throws ApiException {
        ApiResponse<PagingPlaylistTrackObject> localVarResp = getPlaylistsTracksWithHttpInfo(playlistId, market, fields, limit, offset, additionalTypes);
        return localVarResp.getData();
    }

    /**
     * Get Playlist Items 
     * Get full details of the items of a playlist owned by a Spotify user. 
     * @param playlistId  (required)
     * @param market  (optional)
     * @param fields  (optional)
     * @param limit  (optional, default to 20)
     * @param offset  (optional, default to 0)
     * @param additionalTypes  (optional)
     * @return ApiResponse&lt;PagingPlaylistTrackObject&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Pages of tracks </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> Bad or expired token. This can happen if the user revoked a token or the access token has expired. You should re-authenticate the user.  </td><td>  -  </td></tr>
        <tr><td> 403 </td><td> Bad OAuth request (wrong consumer key, bad nonce, expired timestamp...). Unfortunately, re-authenticating the user won&#39;t help here.  </td><td>  -  </td></tr>
        <tr><td> 429 </td><td> The app has exceeded its rate limits.  </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<PagingPlaylistTrackObject> getPlaylistsTracksWithHttpInfo(String playlistId, String market, String fields, Integer limit, Integer offset, String additionalTypes) throws ApiException {
        okhttp3.Call localVarCall = getPlaylistsTracksValidateBeforeCall(playlistId, market, fields, limit, offset, additionalTypes, null);
        Type localVarReturnType = new TypeToken<PagingPlaylistTrackObject>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Get Playlist Items  (asynchronously)
     * Get full details of the items of a playlist owned by a Spotify user. 
     * @param playlistId  (required)
     * @param market  (optional)
     * @param fields  (optional)
     * @param limit  (optional, default to 20)
     * @param offset  (optional, default to 0)
     * @param additionalTypes  (optional)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Pages of tracks </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> Bad or expired token. This can happen if the user revoked a token or the access token has expired. You should re-authenticate the user.  </td><td>  -  </td></tr>
        <tr><td> 403 </td><td> Bad OAuth request (wrong consumer key, bad nonce, expired timestamp...). Unfortunately, re-authenticating the user won&#39;t help here.  </td><td>  -  </td></tr>
        <tr><td> 429 </td><td> The app has exceeded its rate limits.  </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call getPlaylistsTracksAsync(String playlistId, String market, String fields, Integer limit, Integer offset, String additionalTypes, final ApiCallback<PagingPlaylistTrackObject> _callback) throws ApiException {

        okhttp3.Call localVarCall = getPlaylistsTracksValidateBeforeCall(playlistId, market, fields, limit, offset, additionalTypes, _callback);
        Type localVarReturnType = new TypeToken<PagingPlaylistTrackObject>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
    /**
     * Build call for getRecommendations
     * @param limit  (optional, default to 20)
     * @param market  (optional)
     * @param seedArtists  (optional)
     * @param seedGenres  (optional)
     * @param seedTracks  (optional)
     * @param minAcousticness  (optional)
     * @param maxAcousticness  (optional)
     * @param targetAcousticness  (optional)
     * @param minDanceability  (optional)
     * @param maxDanceability  (optional)
     * @param targetDanceability  (optional)
     * @param minDurationMs  (optional)
     * @param maxDurationMs  (optional)
     * @param targetDurationMs  (optional)
     * @param minEnergy  (optional)
     * @param maxEnergy  (optional)
     * @param targetEnergy  (optional)
     * @param minInstrumentalness  (optional)
     * @param maxInstrumentalness  (optional)
     * @param targetInstrumentalness  (optional)
     * @param minKey  (optional)
     * @param maxKey  (optional)
     * @param targetKey  (optional)
     * @param minLiveness  (optional)
     * @param maxLiveness  (optional)
     * @param targetLiveness  (optional)
     * @param minLoudness  (optional)
     * @param maxLoudness  (optional)
     * @param targetLoudness  (optional)
     * @param minMode  (optional)
     * @param maxMode  (optional)
     * @param targetMode  (optional)
     * @param minPopularity  (optional)
     * @param maxPopularity  (optional)
     * @param targetPopularity  (optional)
     * @param minSpeechiness  (optional)
     * @param maxSpeechiness  (optional)
     * @param targetSpeechiness  (optional)
     * @param minTempo  (optional)
     * @param maxTempo  (optional)
     * @param targetTempo  (optional)
     * @param minTimeSignature  (optional)
     * @param maxTimeSignature  (optional)
     * @param targetTimeSignature  (optional)
     * @param minValence  (optional)
     * @param maxValence  (optional)
     * @param targetValence  (optional)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> A set of recommendations </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> Bad or expired token. This can happen if the user revoked a token or the access token has expired. You should re-authenticate the user.  </td><td>  -  </td></tr>
        <tr><td> 403 </td><td> Bad OAuth request (wrong consumer key, bad nonce, expired timestamp...). Unfortunately, re-authenticating the user won&#39;t help here.  </td><td>  -  </td></tr>
        <tr><td> 429 </td><td> The app has exceeded its rate limits.  </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call getRecommendationsCall(Integer limit, String market, String seedArtists, String seedGenres, String seedTracks, BigDecimal minAcousticness, BigDecimal maxAcousticness, BigDecimal targetAcousticness, BigDecimal minDanceability, BigDecimal maxDanceability, BigDecimal targetDanceability, Integer minDurationMs, Integer maxDurationMs, Integer targetDurationMs, BigDecimal minEnergy, BigDecimal maxEnergy, BigDecimal targetEnergy, BigDecimal minInstrumentalness, BigDecimal maxInstrumentalness, BigDecimal targetInstrumentalness, Integer minKey, Integer maxKey, Integer targetKey, BigDecimal minLiveness, BigDecimal maxLiveness, BigDecimal targetLiveness, BigDecimal minLoudness, BigDecimal maxLoudness, BigDecimal targetLoudness, Integer minMode, Integer maxMode, Integer targetMode, Integer minPopularity, Integer maxPopularity, Integer targetPopularity, BigDecimal minSpeechiness, BigDecimal maxSpeechiness, BigDecimal targetSpeechiness, BigDecimal minTempo, BigDecimal maxTempo, BigDecimal targetTempo, Integer minTimeSignature, Integer maxTimeSignature, Integer targetTimeSignature, BigDecimal minValence, BigDecimal maxValence, BigDecimal targetValence, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/recommendations";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        if (limit != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("limit", limit));
        }

        if (market != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("market", market));
        }

        if (seedArtists != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("seed_artists", seedArtists));
        }

        if (seedGenres != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("seed_genres", seedGenres));
        }

        if (seedTracks != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("seed_tracks", seedTracks));
        }

        if (minAcousticness != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("min_acousticness", minAcousticness));
        }

        if (maxAcousticness != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("max_acousticness", maxAcousticness));
        }

        if (targetAcousticness != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("target_acousticness", targetAcousticness));
        }

        if (minDanceability != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("min_danceability", minDanceability));
        }

        if (maxDanceability != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("max_danceability", maxDanceability));
        }

        if (targetDanceability != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("target_danceability", targetDanceability));
        }

        if (minDurationMs != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("min_duration_ms", minDurationMs));
        }

        if (maxDurationMs != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("max_duration_ms", maxDurationMs));
        }

        if (targetDurationMs != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("target_duration_ms", targetDurationMs));
        }

        if (minEnergy != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("min_energy", minEnergy));
        }

        if (maxEnergy != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("max_energy", maxEnergy));
        }

        if (targetEnergy != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("target_energy", targetEnergy));
        }

        if (minInstrumentalness != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("min_instrumentalness", minInstrumentalness));
        }

        if (maxInstrumentalness != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("max_instrumentalness", maxInstrumentalness));
        }

        if (targetInstrumentalness != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("target_instrumentalness", targetInstrumentalness));
        }

        if (minKey != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("min_key", minKey));
        }

        if (maxKey != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("max_key", maxKey));
        }

        if (targetKey != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("target_key", targetKey));
        }

        if (minLiveness != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("min_liveness", minLiveness));
        }

        if (maxLiveness != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("max_liveness", maxLiveness));
        }

        if (targetLiveness != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("target_liveness", targetLiveness));
        }

        if (minLoudness != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("min_loudness", minLoudness));
        }

        if (maxLoudness != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("max_loudness", maxLoudness));
        }

        if (targetLoudness != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("target_loudness", targetLoudness));
        }

        if (minMode != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("min_mode", minMode));
        }

        if (maxMode != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("max_mode", maxMode));
        }

        if (targetMode != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("target_mode", targetMode));
        }

        if (minPopularity != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("min_popularity", minPopularity));
        }

        if (maxPopularity != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("max_popularity", maxPopularity));
        }

        if (targetPopularity != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("target_popularity", targetPopularity));
        }

        if (minSpeechiness != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("min_speechiness", minSpeechiness));
        }

        if (maxSpeechiness != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("max_speechiness", maxSpeechiness));
        }

        if (targetSpeechiness != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("target_speechiness", targetSpeechiness));
        }

        if (minTempo != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("min_tempo", minTempo));
        }

        if (maxTempo != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("max_tempo", maxTempo));
        }

        if (targetTempo != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("target_tempo", targetTempo));
        }

        if (minTimeSignature != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("min_time_signature", minTimeSignature));
        }

        if (maxTimeSignature != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("max_time_signature", maxTimeSignature));
        }

        if (targetTimeSignature != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("target_time_signature", targetTimeSignature));
        }

        if (minValence != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("min_valence", minValence));
        }

        if (maxValence != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("max_valence", maxValence));
        }

        if (targetValence != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("target_valence", targetValence));
        }

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "oauth_2_0" };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call getRecommendationsValidateBeforeCall(Integer limit, String market, String seedArtists, String seedGenres, String seedTracks, BigDecimal minAcousticness, BigDecimal maxAcousticness, BigDecimal targetAcousticness, BigDecimal minDanceability, BigDecimal maxDanceability, BigDecimal targetDanceability, Integer minDurationMs, Integer maxDurationMs, Integer targetDurationMs, BigDecimal minEnergy, BigDecimal maxEnergy, BigDecimal targetEnergy, BigDecimal minInstrumentalness, BigDecimal maxInstrumentalness, BigDecimal targetInstrumentalness, Integer minKey, Integer maxKey, Integer targetKey, BigDecimal minLiveness, BigDecimal maxLiveness, BigDecimal targetLiveness, BigDecimal minLoudness, BigDecimal maxLoudness, BigDecimal targetLoudness, Integer minMode, Integer maxMode, Integer targetMode, Integer minPopularity, Integer maxPopularity, Integer targetPopularity, BigDecimal minSpeechiness, BigDecimal maxSpeechiness, BigDecimal targetSpeechiness, BigDecimal minTempo, BigDecimal maxTempo, BigDecimal targetTempo, Integer minTimeSignature, Integer maxTimeSignature, Integer targetTimeSignature, BigDecimal minValence, BigDecimal maxValence, BigDecimal targetValence, final ApiCallback _callback) throws ApiException {
        

        okhttp3.Call localVarCall = getRecommendationsCall(limit, market, seedArtists, seedGenres, seedTracks, minAcousticness, maxAcousticness, targetAcousticness, minDanceability, maxDanceability, targetDanceability, minDurationMs, maxDurationMs, targetDurationMs, minEnergy, maxEnergy, targetEnergy, minInstrumentalness, maxInstrumentalness, targetInstrumentalness, minKey, maxKey, targetKey, minLiveness, maxLiveness, targetLiveness, minLoudness, maxLoudness, targetLoudness, minMode, maxMode, targetMode, minPopularity, maxPopularity, targetPopularity, minSpeechiness, maxSpeechiness, targetSpeechiness, minTempo, maxTempo, targetTempo, minTimeSignature, maxTimeSignature, targetTimeSignature, minValence, maxValence, targetValence, _callback);
        return localVarCall;

    }

    /**
     * Get Recommendations 
     * Recommendations are generated based on the available information for a given seed entity and matched against similar artists and tracks. If there is sufficient information about the provided seeds, a list of tracks will be returned together with pool size details.  For artists and tracks that are very new or obscure there might not be enough data to generate a list of tracks. 
     * @param limit  (optional, default to 20)
     * @param market  (optional)
     * @param seedArtists  (optional)
     * @param seedGenres  (optional)
     * @param seedTracks  (optional)
     * @param minAcousticness  (optional)
     * @param maxAcousticness  (optional)
     * @param targetAcousticness  (optional)
     * @param minDanceability  (optional)
     * @param maxDanceability  (optional)
     * @param targetDanceability  (optional)
     * @param minDurationMs  (optional)
     * @param maxDurationMs  (optional)
     * @param targetDurationMs  (optional)
     * @param minEnergy  (optional)
     * @param maxEnergy  (optional)
     * @param targetEnergy  (optional)
     * @param minInstrumentalness  (optional)
     * @param maxInstrumentalness  (optional)
     * @param targetInstrumentalness  (optional)
     * @param minKey  (optional)
     * @param maxKey  (optional)
     * @param targetKey  (optional)
     * @param minLiveness  (optional)
     * @param maxLiveness  (optional)
     * @param targetLiveness  (optional)
     * @param minLoudness  (optional)
     * @param maxLoudness  (optional)
     * @param targetLoudness  (optional)
     * @param minMode  (optional)
     * @param maxMode  (optional)
     * @param targetMode  (optional)
     * @param minPopularity  (optional)
     * @param maxPopularity  (optional)
     * @param targetPopularity  (optional)
     * @param minSpeechiness  (optional)
     * @param maxSpeechiness  (optional)
     * @param targetSpeechiness  (optional)
     * @param minTempo  (optional)
     * @param maxTempo  (optional)
     * @param targetTempo  (optional)
     * @param minTimeSignature  (optional)
     * @param maxTimeSignature  (optional)
     * @param targetTimeSignature  (optional)
     * @param minValence  (optional)
     * @param maxValence  (optional)
     * @param targetValence  (optional)
     * @return RecommendationsObject
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> A set of recommendations </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> Bad or expired token. This can happen if the user revoked a token or the access token has expired. You should re-authenticate the user.  </td><td>  -  </td></tr>
        <tr><td> 403 </td><td> Bad OAuth request (wrong consumer key, bad nonce, expired timestamp...). Unfortunately, re-authenticating the user won&#39;t help here.  </td><td>  -  </td></tr>
        <tr><td> 429 </td><td> The app has exceeded its rate limits.  </td><td>  -  </td></tr>
     </table>
     */
    public RecommendationsObject getRecommendations(Integer limit, String market, String seedArtists, String seedGenres, String seedTracks, BigDecimal minAcousticness, BigDecimal maxAcousticness, BigDecimal targetAcousticness, BigDecimal minDanceability, BigDecimal maxDanceability, BigDecimal targetDanceability, Integer minDurationMs, Integer maxDurationMs, Integer targetDurationMs, BigDecimal minEnergy, BigDecimal maxEnergy, BigDecimal targetEnergy, BigDecimal minInstrumentalness, BigDecimal maxInstrumentalness, BigDecimal targetInstrumentalness, Integer minKey, Integer maxKey, Integer targetKey, BigDecimal minLiveness, BigDecimal maxLiveness, BigDecimal targetLiveness, BigDecimal minLoudness, BigDecimal maxLoudness, BigDecimal targetLoudness, Integer minMode, Integer maxMode, Integer targetMode, Integer minPopularity, Integer maxPopularity, Integer targetPopularity, BigDecimal minSpeechiness, BigDecimal maxSpeechiness, BigDecimal targetSpeechiness, BigDecimal minTempo, BigDecimal maxTempo, BigDecimal targetTempo, Integer minTimeSignature, Integer maxTimeSignature, Integer targetTimeSignature, BigDecimal minValence, BigDecimal maxValence, BigDecimal targetValence) throws ApiException {
        ApiResponse<RecommendationsObject> localVarResp = getRecommendationsWithHttpInfo(limit, market, seedArtists, seedGenres, seedTracks, minAcousticness, maxAcousticness, targetAcousticness, minDanceability, maxDanceability, targetDanceability, minDurationMs, maxDurationMs, targetDurationMs, minEnergy, maxEnergy, targetEnergy, minInstrumentalness, maxInstrumentalness, targetInstrumentalness, minKey, maxKey, targetKey, minLiveness, maxLiveness, targetLiveness, minLoudness, maxLoudness, targetLoudness, minMode, maxMode, targetMode, minPopularity, maxPopularity, targetPopularity, minSpeechiness, maxSpeechiness, targetSpeechiness, minTempo, maxTempo, targetTempo, minTimeSignature, maxTimeSignature, targetTimeSignature, minValence, maxValence, targetValence);
        return localVarResp.getData();
    }

    /**
     * Get Recommendations 
     * Recommendations are generated based on the available information for a given seed entity and matched against similar artists and tracks. If there is sufficient information about the provided seeds, a list of tracks will be returned together with pool size details.  For artists and tracks that are very new or obscure there might not be enough data to generate a list of tracks. 
     * @param limit  (optional, default to 20)
     * @param market  (optional)
     * @param seedArtists  (optional)
     * @param seedGenres  (optional)
     * @param seedTracks  (optional)
     * @param minAcousticness  (optional)
     * @param maxAcousticness  (optional)
     * @param targetAcousticness  (optional)
     * @param minDanceability  (optional)
     * @param maxDanceability  (optional)
     * @param targetDanceability  (optional)
     * @param minDurationMs  (optional)
     * @param maxDurationMs  (optional)
     * @param targetDurationMs  (optional)
     * @param minEnergy  (optional)
     * @param maxEnergy  (optional)
     * @param targetEnergy  (optional)
     * @param minInstrumentalness  (optional)
     * @param maxInstrumentalness  (optional)
     * @param targetInstrumentalness  (optional)
     * @param minKey  (optional)
     * @param maxKey  (optional)
     * @param targetKey  (optional)
     * @param minLiveness  (optional)
     * @param maxLiveness  (optional)
     * @param targetLiveness  (optional)
     * @param minLoudness  (optional)
     * @param maxLoudness  (optional)
     * @param targetLoudness  (optional)
     * @param minMode  (optional)
     * @param maxMode  (optional)
     * @param targetMode  (optional)
     * @param minPopularity  (optional)
     * @param maxPopularity  (optional)
     * @param targetPopularity  (optional)
     * @param minSpeechiness  (optional)
     * @param maxSpeechiness  (optional)
     * @param targetSpeechiness  (optional)
     * @param minTempo  (optional)
     * @param maxTempo  (optional)
     * @param targetTempo  (optional)
     * @param minTimeSignature  (optional)
     * @param maxTimeSignature  (optional)
     * @param targetTimeSignature  (optional)
     * @param minValence  (optional)
     * @param maxValence  (optional)
     * @param targetValence  (optional)
     * @return ApiResponse&lt;RecommendationsObject&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> A set of recommendations </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> Bad or expired token. This can happen if the user revoked a token or the access token has expired. You should re-authenticate the user.  </td><td>  -  </td></tr>
        <tr><td> 403 </td><td> Bad OAuth request (wrong consumer key, bad nonce, expired timestamp...). Unfortunately, re-authenticating the user won&#39;t help here.  </td><td>  -  </td></tr>
        <tr><td> 429 </td><td> The app has exceeded its rate limits.  </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<RecommendationsObject> getRecommendationsWithHttpInfo(Integer limit, String market, String seedArtists, String seedGenres, String seedTracks, BigDecimal minAcousticness, BigDecimal maxAcousticness, BigDecimal targetAcousticness, BigDecimal minDanceability, BigDecimal maxDanceability, BigDecimal targetDanceability, Integer minDurationMs, Integer maxDurationMs, Integer targetDurationMs, BigDecimal minEnergy, BigDecimal maxEnergy, BigDecimal targetEnergy, BigDecimal minInstrumentalness, BigDecimal maxInstrumentalness, BigDecimal targetInstrumentalness, Integer minKey, Integer maxKey, Integer targetKey, BigDecimal minLiveness, BigDecimal maxLiveness, BigDecimal targetLiveness, BigDecimal minLoudness, BigDecimal maxLoudness, BigDecimal targetLoudness, Integer minMode, Integer maxMode, Integer targetMode, Integer minPopularity, Integer maxPopularity, Integer targetPopularity, BigDecimal minSpeechiness, BigDecimal maxSpeechiness, BigDecimal targetSpeechiness, BigDecimal minTempo, BigDecimal maxTempo, BigDecimal targetTempo, Integer minTimeSignature, Integer maxTimeSignature, Integer targetTimeSignature, BigDecimal minValence, BigDecimal maxValence, BigDecimal targetValence) throws ApiException {
        okhttp3.Call localVarCall = getRecommendationsValidateBeforeCall(limit, market, seedArtists, seedGenres, seedTracks, minAcousticness, maxAcousticness, targetAcousticness, minDanceability, maxDanceability, targetDanceability, minDurationMs, maxDurationMs, targetDurationMs, minEnergy, maxEnergy, targetEnergy, minInstrumentalness, maxInstrumentalness, targetInstrumentalness, minKey, maxKey, targetKey, minLiveness, maxLiveness, targetLiveness, minLoudness, maxLoudness, targetLoudness, minMode, maxMode, targetMode, minPopularity, maxPopularity, targetPopularity, minSpeechiness, maxSpeechiness, targetSpeechiness, minTempo, maxTempo, targetTempo, minTimeSignature, maxTimeSignature, targetTimeSignature, minValence, maxValence, targetValence, null);
        Type localVarReturnType = new TypeToken<RecommendationsObject>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Get Recommendations  (asynchronously)
     * Recommendations are generated based on the available information for a given seed entity and matched against similar artists and tracks. If there is sufficient information about the provided seeds, a list of tracks will be returned together with pool size details.  For artists and tracks that are very new or obscure there might not be enough data to generate a list of tracks. 
     * @param limit  (optional, default to 20)
     * @param market  (optional)
     * @param seedArtists  (optional)
     * @param seedGenres  (optional)
     * @param seedTracks  (optional)
     * @param minAcousticness  (optional)
     * @param maxAcousticness  (optional)
     * @param targetAcousticness  (optional)
     * @param minDanceability  (optional)
     * @param maxDanceability  (optional)
     * @param targetDanceability  (optional)
     * @param minDurationMs  (optional)
     * @param maxDurationMs  (optional)
     * @param targetDurationMs  (optional)
     * @param minEnergy  (optional)
     * @param maxEnergy  (optional)
     * @param targetEnergy  (optional)
     * @param minInstrumentalness  (optional)
     * @param maxInstrumentalness  (optional)
     * @param targetInstrumentalness  (optional)
     * @param minKey  (optional)
     * @param maxKey  (optional)
     * @param targetKey  (optional)
     * @param minLiveness  (optional)
     * @param maxLiveness  (optional)
     * @param targetLiveness  (optional)
     * @param minLoudness  (optional)
     * @param maxLoudness  (optional)
     * @param targetLoudness  (optional)
     * @param minMode  (optional)
     * @param maxMode  (optional)
     * @param targetMode  (optional)
     * @param minPopularity  (optional)
     * @param maxPopularity  (optional)
     * @param targetPopularity  (optional)
     * @param minSpeechiness  (optional)
     * @param maxSpeechiness  (optional)
     * @param targetSpeechiness  (optional)
     * @param minTempo  (optional)
     * @param maxTempo  (optional)
     * @param targetTempo  (optional)
     * @param minTimeSignature  (optional)
     * @param maxTimeSignature  (optional)
     * @param targetTimeSignature  (optional)
     * @param minValence  (optional)
     * @param maxValence  (optional)
     * @param targetValence  (optional)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> A set of recommendations </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> Bad or expired token. This can happen if the user revoked a token or the access token has expired. You should re-authenticate the user.  </td><td>  -  </td></tr>
        <tr><td> 403 </td><td> Bad OAuth request (wrong consumer key, bad nonce, expired timestamp...). Unfortunately, re-authenticating the user won&#39;t help here.  </td><td>  -  </td></tr>
        <tr><td> 429 </td><td> The app has exceeded its rate limits.  </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call getRecommendationsAsync(Integer limit, String market, String seedArtists, String seedGenres, String seedTracks, BigDecimal minAcousticness, BigDecimal maxAcousticness, BigDecimal targetAcousticness, BigDecimal minDanceability, BigDecimal maxDanceability, BigDecimal targetDanceability, Integer minDurationMs, Integer maxDurationMs, Integer targetDurationMs, BigDecimal minEnergy, BigDecimal maxEnergy, BigDecimal targetEnergy, BigDecimal minInstrumentalness, BigDecimal maxInstrumentalness, BigDecimal targetInstrumentalness, Integer minKey, Integer maxKey, Integer targetKey, BigDecimal minLiveness, BigDecimal maxLiveness, BigDecimal targetLiveness, BigDecimal minLoudness, BigDecimal maxLoudness, BigDecimal targetLoudness, Integer minMode, Integer maxMode, Integer targetMode, Integer minPopularity, Integer maxPopularity, Integer targetPopularity, BigDecimal minSpeechiness, BigDecimal maxSpeechiness, BigDecimal targetSpeechiness, BigDecimal minTempo, BigDecimal maxTempo, BigDecimal targetTempo, Integer minTimeSignature, Integer maxTimeSignature, Integer targetTimeSignature, BigDecimal minValence, BigDecimal maxValence, BigDecimal targetValence, final ApiCallback<RecommendationsObject> _callback) throws ApiException {

        okhttp3.Call localVarCall = getRecommendationsValidateBeforeCall(limit, market, seedArtists, seedGenres, seedTracks, minAcousticness, maxAcousticness, targetAcousticness, minDanceability, maxDanceability, targetDanceability, minDurationMs, maxDurationMs, targetDurationMs, minEnergy, maxEnergy, targetEnergy, minInstrumentalness, maxInstrumentalness, targetInstrumentalness, minKey, maxKey, targetKey, minLiveness, maxLiveness, targetLiveness, minLoudness, maxLoudness, targetLoudness, minMode, maxMode, targetMode, minPopularity, maxPopularity, targetPopularity, minSpeechiness, maxSpeechiness, targetSpeechiness, minTempo, maxTempo, targetTempo, minTimeSignature, maxTimeSignature, targetTimeSignature, minValence, maxValence, targetValence, _callback);
        Type localVarReturnType = new TypeToken<RecommendationsObject>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
    /**
     * Build call for getSeveralAudioFeatures
     * @param ids  (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> A set of audio features </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> Bad or expired token. This can happen if the user revoked a token or the access token has expired. You should re-authenticate the user.  </td><td>  -  </td></tr>
        <tr><td> 403 </td><td> Bad OAuth request (wrong consumer key, bad nonce, expired timestamp...). Unfortunately, re-authenticating the user won&#39;t help here.  </td><td>  -  </td></tr>
        <tr><td> 429 </td><td> The app has exceeded its rate limits.  </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call getSeveralAudioFeaturesCall(String ids, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/audio-features";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        if (ids != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("ids", ids));
        }

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "oauth_2_0" };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call getSeveralAudioFeaturesValidateBeforeCall(String ids, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'ids' is set
        if (ids == null) {
            throw new ApiException("Missing the required parameter 'ids' when calling getSeveralAudioFeatures(Async)");
        }
        

        okhttp3.Call localVarCall = getSeveralAudioFeaturesCall(ids, _callback);
        return localVarCall;

    }

    /**
     * Get Tracks&#39; Audio Features 
     * Get audio features for multiple tracks based on their Spotify IDs. 
     * @param ids  (required)
     * @return InlineResponse2003
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> A set of audio features </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> Bad or expired token. This can happen if the user revoked a token or the access token has expired. You should re-authenticate the user.  </td><td>  -  </td></tr>
        <tr><td> 403 </td><td> Bad OAuth request (wrong consumer key, bad nonce, expired timestamp...). Unfortunately, re-authenticating the user won&#39;t help here.  </td><td>  -  </td></tr>
        <tr><td> 429 </td><td> The app has exceeded its rate limits.  </td><td>  -  </td></tr>
     </table>
     */
    public InlineResponse2003 getSeveralAudioFeatures(String ids) throws ApiException {
        ApiResponse<InlineResponse2003> localVarResp = getSeveralAudioFeaturesWithHttpInfo(ids);
        return localVarResp.getData();
    }

    /**
     * Get Tracks&#39; Audio Features 
     * Get audio features for multiple tracks based on their Spotify IDs. 
     * @param ids  (required)
     * @return ApiResponse&lt;InlineResponse2003&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> A set of audio features </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> Bad or expired token. This can happen if the user revoked a token or the access token has expired. You should re-authenticate the user.  </td><td>  -  </td></tr>
        <tr><td> 403 </td><td> Bad OAuth request (wrong consumer key, bad nonce, expired timestamp...). Unfortunately, re-authenticating the user won&#39;t help here.  </td><td>  -  </td></tr>
        <tr><td> 429 </td><td> The app has exceeded its rate limits.  </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<InlineResponse2003> getSeveralAudioFeaturesWithHttpInfo(String ids) throws ApiException {
        okhttp3.Call localVarCall = getSeveralAudioFeaturesValidateBeforeCall(ids, null);
        Type localVarReturnType = new TypeToken<InlineResponse2003>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Get Tracks&#39; Audio Features  (asynchronously)
     * Get audio features for multiple tracks based on their Spotify IDs. 
     * @param ids  (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> A set of audio features </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> Bad or expired token. This can happen if the user revoked a token or the access token has expired. You should re-authenticate the user.  </td><td>  -  </td></tr>
        <tr><td> 403 </td><td> Bad OAuth request (wrong consumer key, bad nonce, expired timestamp...). Unfortunately, re-authenticating the user won&#39;t help here.  </td><td>  -  </td></tr>
        <tr><td> 429 </td><td> The app has exceeded its rate limits.  </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call getSeveralAudioFeaturesAsync(String ids, final ApiCallback<InlineResponse2003> _callback) throws ApiException {

        okhttp3.Call localVarCall = getSeveralAudioFeaturesValidateBeforeCall(ids, _callback);
        Type localVarReturnType = new TypeToken<InlineResponse2003>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
    /**
     * Build call for getSeveralTracks
     * @param ids  (required)
     * @param market  (optional)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> A set of tracks </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> Bad or expired token. This can happen if the user revoked a token or the access token has expired. You should re-authenticate the user.  </td><td>  -  </td></tr>
        <tr><td> 403 </td><td> Bad OAuth request (wrong consumer key, bad nonce, expired timestamp...). Unfortunately, re-authenticating the user won&#39;t help here.  </td><td>  -  </td></tr>
        <tr><td> 429 </td><td> The app has exceeded its rate limits.  </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call getSeveralTracksCall(String ids, String market, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/tracks";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        if (market != null) {
[...]
